.page{
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    background-color: #1890ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    :global{
        .logo{
            width: auto;
            height: 100%;
            line-height: 40px;
            font-family: serif;
            font-weight: bold;
            font-size: 24px;
            color: white;
        }
        .user-page{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            line-height: 40px;
            font-size: 16px;
            color: white;
            .anticon.anticon-user-delete{
                margin-right: 10px;
                font-size: 24px;
            }
            .user-name{
                cursor: pointer;
                .anticon-down{
                    transition: all 500ms;
                }
                &.ant-dropdown-open .anticon-down{
                    transform: rotateZ(180deg);
                }
            }
        } 
    }
}