.content{
    width: 100%;
    height: 100%;
    .header{
        width: 100%;
        height: 60px;
        padding: 10px 20px;
        background-color: #1890ff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        animation: translateY-top 800ms 1;
        :global{
            .logo{
                width: auto;
                height: 100%;
                line-height: 40px;
                font-family: serif;
                font-weight: bold;
                font-size: 24px;
                color: white;
            }
            .user-page{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                line-height: 40px;
                font-size: 16px;
                color: white;
                .anticon.anticon-user-delete{
                    margin-right: 10px;
                    font-size: 24px;
                }
                .user-name{
                    cursor: pointer;
                    .anticon-down{
                        transition: all 500ms;
                    }
                    &.ant-dropdown-open .anticon-down{
                        transform: rotateZ(180deg);
                    }
                }
            } 
        }
    }
    .container{
        width: 100vw;
        height: calc(100vh - 60px);
        display: flex;
        flex-wrap: wrap;
        .menu{
            animation: translateX-left 800ms 1;
        } .main{
            animation: translateX-right 800ms 1;
        }
        .menu{
            :global{
                .ant-menu[tabindex="0"]{
                    height: 100%;
                    user-select: none;
                }
                .ant-btn.ant-btn-default{
                    width: 100%;
                }
            }
        }
        .main{
            flex: auto;
            width: calc(100% - 180px);
            padding: 20px;
            :global {
                .main-content{
                    height: calc(100% - 52px);
                    margin-top: 20px;
                }
            }
        }
    }
}

@keyframes translateY-top {
    from{
        opacity: 0;transform: translateY(-30px);
    }
    to{
        opacity: 1;transform: translateY(0);
    }
}

@keyframes translateX-left {
    from{
        opacity: 0;transform: translateX(-30px);
    }
    to{
        opacity: 1;transform: translateX(0);
    }
}

@keyframes translateX-right {
    from{
        opacity: 0;transform: translateX(30px);
    }
    to{
        opacity: 1;transform: translateX(0);
    }
}