.form{
    .item{
        & + .item{
            margin-top: 24px;margin-bottom: 0;
        }
        :global{
            .ant-form-item-label, .ant-form-item-control{
                flex: auto;
                &.ant-col-3{
                    flex: 0 0 12.5%;
                }
            }
            .ant-input-group-addon{
                padding: 0;
                .ant-spin-container{
                    .ant-btn, & > img{
                        height: 30px;cursor: pointer;
                    }
                }
            }
            .text-btn{
                color: #1890ff;cursor: pointer;
            }
        }
        &.text{
            margin-top: 0;
            :global{
                .ant-form-item-control-input-content{
                    display: flex;
                    justify-content: space-between;
                    .ant-btn{
                        font-size: 12px;
                        &:hover{
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
    