//styles.module.less
.box{
    min-width: 660px;width: 100%;height: 100%;background-color: black;position: relative;animation: identifier 1000ms forwards;
    .bg{
        width: 100%;height: 100%;background-color: #292929;position: absolute;left: 0;top: 0;filter: blur(10px);
    }
    .content{
        width: 600px;
        padding: 20px;
        background-color: rgba(240, 240, 240, .8);
        border-radius: 20px;
        border: 1px solid #ddd;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: box-show 10s infinite;
        .form{
            animation: opacity 1000ms forwards;
            &.qr_code{
                text-align: center;
                .qr_text{
                    display: block;width: 100%;margin: 20px auto;
                }
            }
        }
    }
}

@keyframes identifier {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes box-show {
    0%{
        box-shadow: 6px 6px 10px rgba(255,255,255,.1);
    }
    50%{
        box-shadow: 10px 10px 10px rgba(255,255,255,.5);
    }
    100%{
        box-shadow: 6px 6px 10px rgba(255,255,255,.1);
    }
}
@keyframes opacity {
    from{
        opacity: 0;transform: translateY(30px) skewY(3deg);
    }
    to{
        opacity: 1;transform: translateY(0) skewY(0);
    }
}