.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    opacity: 0;
    animation: opacity 1200ms 1 forwards;
    .content{
        width: 100%;
        .icon{
            display: block;
            max-width: 500px;
            max-height: 500px;
            width: 40vw;
            height: 40vw;
            margin: 0 auto;
        }
        .message{
            text-align: center;
            color: #999;
        }
    }
    .btn_group{
        margin-top: 20px;
        text-align: center;
        .ant_btn{
            width: 104px;
            & + .ant_btn{
                margin-left: 20px;
            }
        }
    }
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}